# Compiled class file
*.class


# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/node_modules

puppeter/*

# env files
*.env

*.DS_Store

queues/*

dist

__pycache__/

stt/
keys.json
*.pt
logs
out/
data/
*.lock
xformers-0.0.20+a74599b.d20230515-cp39-cp39-win_amd64.whl
package-lock.json
